body {
    margin: 0;
    padding: 0;
    background: 
        url(file:///F:/final/image/under%20grad.jpg) center center fixed no-repeat,
        url(file:///F:/final/image/air%20home%20pic.jpg) center center fixed no-repeat;
    background-size: cover; /* Adjust as needed */
}

/* Additional styles for content */
.content {
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 24px;
}